.image{
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

h5{
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}

h5 span{
  color: white;
  font: bold 20px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 10px 10px 2px;
}

h5 span.spacer{
  padding: 0 2px; background: none;
}
